<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../css_files/style.css"> <!-- Link to the CSS file -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <nav>
        <ul class="sidebar">
          <li onclick="hideSidebar()"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960" width="26"><path d="m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/></svg></a></li>
          <li><a href="#">Home</a></li>
          <li><a href=`${user._id}`>Profile</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
        <ul>
          <li><a href="#">Logo</a></li>
          <li class="hideOnMobile"><a href="#">Home</a></li>
          <li class="hideOnMobile"><a href='/<%= user.role %>/<%= user._id %>'>Profile</a></li>
          <li class="hideOnMobile"><a href="#">Log Out</a></li>
          <li class="menu-button" onclick="showSidebar()"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960" width="26"><path d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z"/></svg></a></li>
        </ul>
      </nav>
    <div class="container">
        <!-- Educator's Basic Information -->
        <div class="item" id="item_1">
            <div class="child">
                <div class="heading">
                    <span>Total exams created</span>
                    <img src="../icons/exams.svg" alt="Exam icon">
                </div>
                <span>15 Exams</span> 
                <div class="description">Across 3 courses</div>
            </div>
            <div class="child">
                <div class="heading">
                    <span>Specialty:</span>
                    <img src="../icons/speciality.svg" alt="Background icon">
                </div>
                <span>Chemistry</span>
                <div class="description">Organic & Inorganic</div>
            </div>
            <div class="child">
                <div class="heading">
                    <span>Background:</span>
                    <img src="../icons/sheet_icon.svg" alt="Background icon">
                </div>
                <span>Ph.D. in Chemistry</span>
                <div class="description">20+ Years of Experience</div>
            </div>
            <div class="additional-info">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non urna eros. Curabitur elementum, lorem a pharetra vestibulum, est lectus gravida augue.</p>
            </div>
        </div>

        <!-- Exams Created & Students Attempted -->
        <div class="item">
            <div class="heading">
                <span>Exams Created & Students Attempted:</span>
                <img src="../icons/exams.svg" alt="Exams icon">
            </div>
            <ul>
                <li>Organic Chemistry Midterm - 50 Questions</li>
                <li>Inorganic Chemistry Final - 75 Questions</li>
                <li>General Chemistry Quiz - 30 Questions</li>
            </ul>
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <script src="../dom_js/script.js"></script> <!-- Link to the JS file -->
    
</body>
</html>
